<p> MOVEMENT NAME: <%= movement.movement %>  </p>
<p> # OF REPS:  <%= movement.reps %>  </p>
<p> MY NOTES: <%= movement.notes %>  </p>

<!-- # <%= link_to "edit movement", "/workouts/#{workout_id}/movements/#{movement.id}/edit" %>
# <%= link_to "Delete", workout_delete_path(@workout), method: :delete, data: { confirm: "are you sure you want to delete?"} %> -->
