<%= image_tag("one_hundred_logo.png", width: '250', height: '75', class: "logo_workout") %>

<div class="workout_container">
<% @workouts.each do |workout| %>
  <% workout.users.each do |u| %>

  <h3><%= link_to workout.date.strftime("%A,%B,%d"), workout,{:style=>'color:#d8d624;'} %> </h3>
  <h4 id="workout_name"> <%= workout.workout%> </h4>
  <h5 id="workout_link"> Completed by: <%= link_to "#{u.user_name}", user_path(u.id)  %> </h5>
<% end %>
<% end %>
</div>

  <button class="btn btn-default" id="new_workout_button"> <%= link_to "Create a new workout", new_workout_path  %> </button>
