<h1> <%= @user.user_name %>'s Workouts </h1>

<% @user.workouts.each do |w| %>
  <h4> <%= link_to w.date.strftime("%A,%B,%d"), w %>  </h4>
  <h4> WOD: <%= w.workout %>  </h4>
  <h4> Time / Notes: <%= w.notes %>  </h4>
<% w.movements.each do |m| %>

  <h4> Completed: <%= m.movement %> - <%= m.reps %>  </h4>
  <% end %>
<% end %>

<button class="btn btn-default"> <%= link_to "Back", "/workouts" %> </button>
