<h1 id="header_user"> <%= @user.user_name %>'s Workouts </h1>

<div class="workout_container">
  <% @user.workouts.each do |w| %>
    <h3> <%= link_to w.date.strftime("%A,%B,%d"), w,{:style=>'color:#d8d624;'} %>  </h3>
    <h4 class="user_workout"> WOD: <%= w.workout %>  </h4>
    <h4 class="user_workout"> Time / Notes: <%= w.notes %>  </h4>
  <% w.movements.each do |m| %>

<h4 class="user_workout"> Completed: <%= m.movement %> - <%= m.reps %>  </h4>
  <% end %>
  <% end %>
</div>

<button class="btn btn-default" id="user_button"> <%= link_to "Back", "/workouts" %> </button>
